*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(90deg, darkred, rgb(255, 52, 52), rgb(255, 145, 145)); */
  background-color: rgb(104, 77, 77);
}